.home .slider-video{
    display:block;
    width:100%;
    position:relative;
    box-shadow:0 22px 65px RGBA(0,0,0,.2)
}
.home .home-about.w-section.w-full .row.container{
    max-width:100%;
    padding-left:0!important;
    padding-right:0!important
}
.home .col-8.almost-half-size{
    padding:0;
    width:50%;
    box-sizing:border-box
}
.almost-half-size .wpb_raw_html{
    position:relative
}
.almost-half-size .wpb_raw_html .wpb_wrapper{
    position:absolute;
    right:30px;
    left:-50px;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    top:50%;
    max-width:970px;
    width:100%
}
.almost-half-size button{
    position:absolute;
    display:block;
    top:3px;
    right:5px
}
.almost-half-size button.mute-video:hover{
    background:url(http://cdn.flaticon.com/png/64/498.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    text-indent:-999px;
    cursor:pointer
}
#home-slider .col-12 .row.container{
    height:680px
}
.mobile-slider-video{
    display:none
}
.almost-half-size button.unmute-video:hover{
    background:url(http://cdn.flaticon.com/png/64/60750.png) no-repeat center;
    background-size:32px;
    cursor:pointer
}
.col-8.almost-half-size,.almost-half-size .wpb_raw_html,.almost-half-size .wpb-wrapper .almost-half-size .slider-video{
    height:100%
}
.being-bulldog-container{
    background:#fff url(../images/being-bg.jpg)!important;
    background-position:center right!important;
    background-repeat:no-repeat!important;
    background-size:cover!important;
    padding-bottom:91px!important
}
.home #home-slider .top-left-column{
    padding:100px 50px;
    height:100%;
    box-sizing:border-box
}
.being-bulldog-container:before{
    content:""!important;
    background:url(../images/bdstrong.png) no-repeat;
    position:absolute;
    top:45px;
    width:100%;
    left:20px;
    height:140px;
    z-index:2;
    display:block;
    background-size:70%;
    background-position:120px
}
.being-container-inner{
    width:700px;
    position:relative;
    margin:auto!important;
    padding-left:90px
}
.being-bulldog-container .w-custom-heading h2{
    text-align:left;
    font-family:Playfair Display;
    font-weight:900;
    font-style:normal;
    font-size:60px;
    line-height:68px;
    position:relative;
    margin-bottom:50px;
    color:#000;
    margin-top:10px
}
.being-bulldog-container .w-custom-heading h2:after{
    position:absolute;
    bottom:-35px;
    left:0;
    width:60px;
    content:"";
    background:url(../images/singleblue.svg) no-repeat;
    height:17px
}
.being-bulldog-container .w-custom-heading h3{
    text-transform:uppercase!important;
    margin-bottom:25px;
    position:relative;
    font-size:18px;
    letter-spacing:2.6px;
    font-weight:700;
    margin-top:0;
    color:#000
}
.mute-video{
    background:url(http://cdn.flaticon.com/png/64/60750.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    text-indent:-999px
}
.unmute-video{
    background:url(http://cdn.flaticon.com/png/64/498.png) no-repeat center;
    background-size:32px
}
#being-bulldog{
    background:#fff url(https://bulldogonline.com/wp-content/uploads/2017/06/being-bg.jpg?id=9176)!important;
    background-position:center!important;
    background-repeat:no-repeat!important;
    background-size:cover!important;
    padding-bottom:0
}
#being-bulldog .being-outer-column{
    position:relative;
    height:667px
}
#being-bulldog div#being-bulldog-container{
    width:650px;
    position:absolute;
    top:50%;
    transform:translate(-58%,-60%);
    -webkit-transform:translate(-58%,-60%);
    -moz-transform:translate(-58%,-60%);
    -o-transform:translate(-58%,-60%);
    left:75%
}
#being-bulldog-image{
    position:absolute;
    left:0;
    bottom:0;
    width:50%
}
.wpb_raw_code.wpb_content_element.wpb_raw_html.girls-classes-btm{
    position:absolute;
    max-width:860px;
    bottom:0;
    margin-bottom:0
}
#being-bulldog-container .w-custom-heading h2{
    text-align:left;
    font-family:Playfair Display;
    font-weight:900;
    font-style:normal;
    font-size:60px;
    line-height:68px;
    position:relative;
    margin-bottom:50px;
    color:#000;
    margin-top:10px
}
#being-bulldog-container .w-custom-heading h2:after{
    position:absolute;
    bottom:-35px;
    left:0;
    width:60px;
    content:"";
    background:url(../images/singleblue.svg) no-repeat;
    height:17px
}
#being-bulldog-container .w-custom-heading h3{
    text-transform:uppercase!important;
    margin-bottom:25px;
    position:relative;
    font-size:20px;
    letter-spacing:2.6px;
    font-weight:700;
    margin-top:0;
    color:#000
}
#bulldog-video{
    padding:0
}
#bulldog-video .row.container{
    max-width:100%;
    padding-right:0!important;
    padding-left:0!important
}
.video-column{
    padding-left:0!important;
    padding-right:0!important
}
#bulldog-video .slider-video{
    display:block;
    object-fit:cover;
    width:100%;
    max-height:700px
}
#bulldog-video button{
    position:absolute;
    display:block;
    top:0;
    left:5px
}
#bulldog-video button.mute-video:hover{
    background:url(http://cdn.flaticon.com/png/64/498.png) no-repeat center;
    background-size:32px;
    border:0;
    width:32px;
    height:32px;
    text-indent:-999px;
    cursor:pointer
}
#bulldog-video button.unmute-video:hover{
    background:url(http://cdn.flaticon.com/png/64/60750.png) no-repeat center;
    background-size:32px;
    cursor:pointer
}
@media only screen and (max-width:1760px){
    .being-container-inner{
        width:640px;
        position:relative;
        margin:auto!important;
        padding-left:0
    }
    .being-bulldog-container:before{
        background-size:80%;
        background-position:10px
    }
}
@media only screen and (max-width:1650px){
    .being-container-inner{
        width:88%
    }
}
@media only screen and (max-width:1480px){
    .almost-half-size .wpb_raw_html .wpb_wrapper{
        left:-20px
    }
    .home-about .top-left-column .w-button.learn{
        padding:16px 20px
    }
}
@media only screen and (max-width:1080px){
    .home #home-slider .top-left-column{
        width:100%
    }
    .home .col-8.almost-half-size{
        width:100%;
        margin-left:0
    }
    .almost-half-size button{
        top:0;
        left:15px
    }
    .almost-half-size .wpb_raw_html .wpb_wrapper{
        position:relative;
        right:auto;
        left:auto!important;
        transform:translateY(0);
        top:auto;
        max-width:100%;
        width:100%
    }
    #home-slider .col-12 .row.container{
        height:auto
    }
    .being-container-inner{
        width:90%
    }
}
@media only screen and (max-width:768px){
    .mobile-slider-video{
        display:block
    }
    .home .slider-video{
        display:none
    }
    .home .mute-video{
        display:none
    }
}
@media only screen and (max-width:767px){
    .home #home-slider .top-left-column{
        padding:40px 20px!important;
        height:auto
    }
    .home .being-container-inner .w-space{
        display:none!important
    }
    .being-bulldog-container:before{
        top:-24px
    }
    .being-bulldog-container .w-custom-heading h3{
        letter-spacing:1.5px
    }
    .classes-landing-mobile .class-option .class-option-content{
        display:block;
        position:relative;
        top:0;
        left:0;
        transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        width:100%;
        padding:0 10px
    }
}
@media only screen and (max-width:600px){
    .home-class h3{
        font-size:32px;
        line-height:40px
    }
}
@media only screen and (max-width:480px){
    .almost-half-size button{
        top:0;
        left:5px
    }
    .being-container-inner{
        width:95%
    }
}
