.popup-slide{
    position:absolute;
    top:0;
    width:0;
    left:-200px;
    height:100%;
    background:url(../images/bdybg-logo.png) no-repeat center center #fff;
    transition:width .4s;
    -webkit-transition:width .4s;
    -moz-transition:width .4s;
    -o-transition:width .4s;
    border:8px solid #5bc5c5;
    background-size:100%;
    opacity:0;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)
}
.locations-buy{
    position:relative
}
.schedule-wrapper .vacation{
    position:absolute;
    width:100%;
    margin:0;
    top:-120px;
    text-align:center;
    width:100%;
    left:0;
    padding:0 30px;
    z-index:2
}
.schedule-wrapper .vacation h2{
    font-size:26px;
    margin:0 auto;
    text-align:center;
    color:#222!important
}
.locations-buy .drop{
    position:absolute;
    width:280px;
    left:50%;
    margin-left:-140px;
    height:140px;
    top:50%;
    margin-top:-70px
}
.locations-buy.popup-right{
    z-index:2
}
.locations-buy .drop p{
    font-size:26px!important;
    margin-bottom:10px;
    font-weight:700;
    line-height:28px;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    letter-spacing:-1px;
    color:#ec1c2d;
    visibility:hidden
}
.locations-buy .open .drop p{
    visibility:visible
}
.locations-buy .drop a{
    font-family:montserrat;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:700;
    color:#111;
    padding:10px 0;
    line-height:20px
}
.locations-buy .drop a:hover{
    color:#57d5d5
}
.popup-slide.open{
    width:100%;
    left:0;
    opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)
}
@media only screen and (max-width:830px){
    #double-promo .popup-content .popup-right,#double-promo .popup-content .popup-left{
        float:left;
        width:100%!important
    }
    .locations-buy .popup-close{
        top:1px
    }
}
.boulder-gc{
    display:none
}
.boulder-gc{
    display:inline-block
}
.postid-3769 .about.location-section{
    padding:0 0 90px
}
.postid-3769 .about-content{
    padding:0
}
.single-location .comingsoon{
    width:170px;
    position:absolute;
    top:-112px;
    left:-17px;
    z-index:-1
}
.single-location #content{
    padding-top:90px
}
.single-location #header:before{
    background:0 0;
    box-shadow:0 0 0 rgba(0,0,0,.05)
}
.single-location #header.w-fixed:before{
    background:#000;
    box-shadow:0 3px 3px rgba(0,0,0,.05)
}
.clearfix{
    display:block;
    clear:both
}
.single-location .schedule-button,.single-location .leaders-button{
    display:inline-block
}
.single-location .leaders-button{
    margin-top:25px
}
.leader-button,.single-location .book-button{
    line-height:normal!important
}
.top-header-buttons{
    display:none
}
.top-header-buttons.new{
    display:block;
    right:0;
    top:20px;
    z-index:99999;
    width:420px
}
#header.w-fixed .top-header-buttons.new{
    top:11px
}
.header-container{
    padding:0 20px
}
#header.w-fixed #mega-menu-wrap-primary{
    top:20px
}
.single-location .top-header-buttons .book-button.w-button{
    display:none
}
.single-location .book-button.w-button{
    background:#5bc5c5;
    margin-right:10px
}
.leader-button{
    color:#fff;
    background:#ec1c2d;
    border:3px solid #ec1c2d;
    color:#fff;
    margin-right:8px
}
.single-location .featured-full-width:before{
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:#000;
    top:0;
    left:0;
    opacity:.3
}
.location-banner-image{
    display:none
}
@media only screen and (min-width:900px){
    .location-banner-image{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        display:block
    }
    .location-banner-image:before{
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        background:#000;
        top:0;
        left:0;
        opacity:.23
    }
}
.postid-3769.single-location .featured-full-width:before{
    opacity:.25
}
.single-location #content .hc_header_time span{
    font-size:34px;
    letter-spacing:.5px;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    color:#000
}
@media only screen and (min-width:1080px){
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column>ul.mega-sub-menu>li.mega-menu-item.mega-menu-item-object-location,#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-row .mega-menu-column>ul.mega-sub-menu>li.mega-menu-item.mega-menu-item-object-page{
        padding-top:5px;
        padding-bottom:25px
    }
}
.single-location .main-content{
    padding-top:0!important
}
.single-location .post-content.container{
    max-width:100%;
    padding-right:0;
    padding-left:0
}
.single-location .col-9{
    width:100%
}
.single-location .post-detail{
    padding:0;
    margin-bottom:0!important
}
.single-location .right-sidebar .main{
    padding-right:0
}
.single-location .main-content .post-content{
    padding-top:0;
    padding-bottom:0
}
.single-location .featured-full-width{
    position:relative;
    height:80vh;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden
}
.single-location.postid-3768 .featured-full-width{
    height:88vh;
    background-image:url(../images/villanovabanner-4.jpg)!important;
    background-position:center top
}
.postid-3769.single-location .featured-full-width{
    background-image:url(../images/bulldogboulder.jpg)!important;
    height:80vh
}
.single-location .title{
    font-size:58px;
    font-weight:700;
    text-transform:uppercase;
    line-height:62px;
    margin-left:-5px;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    color:#fff
}
.single-location .title-container-wrap{
    z-index:2;
    top:45%
}
.single-location.postid-3769 .title-container-wrap .container{
    max-width:100%;
    margin:0
}
.single-location .title-container-wrap h1 span{
    font-family:montserrat;
    font-weight:400;
    display:block;
    font-size:32px;
    line-height:46px;
    text-transform:uppercase;
    font-style:normal;
    letter-spacing:2.5px;
    color:#fff
}
#side-menu{
    position:absolute;
    width:100%;
    right:0;
    bottom:0;
    padding:0;
    text-align:left;
    background:#5bc5c5;
    padding:0 70px
}
#side-menu .menu-holder{
    float:left;
    width:25%;
    text-align:center;
    font-family:montserrat;
    text-transform:uppercase;
    letter-spacing:1.5px;
    font-size:15px;
    color:#fff
}
#side-menu .menu-holder a{
    text-align:center;
    font-family:montserrat;
    text-transform:uppercase;
    letter-spacing:1.5px;
    font-size:15px;
    color:#fff;
    display:block;
    line-height:16px;
    padding:30px 15px
}
#side-menu .menu-holder a:hover{
    background:#35a9a9
}
.location-section{
    padding:110px 0
}
.schedule.location-section{
    background:#eee
}
.section-title{
    margin-bottom:30px
}
.section-title h2{
    color:#fff;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    font-size:36px;
    margin-bottom:50px;
    line-height:42px;
    letter-spacing:1px;
    text-align:center;
    padding:0 15px
}
.location-title h3{
    color:#000;
    letter-spacing:2px;
    font-size:20px
}
.single-location .app-buttons h2{
    color:#5bc5c5;
    letter-spacing:2px;
    font-size:20px;
    font-family:Montserrat,Arial,Helvetica,sans-serif!important;
    text-transform:uppercase!important;
    font-style:normal!important
}
.single-location .about.location-section{
    display:none
}
.about-content{
    max-width:960px;
    margin:auto;
    padding:30px
}
.about-content p{
    column-count:2;
    -webkit-column-count:2;
    -moz-column-count:2;
    -ms-column-colunt:2;
    -o-column-count:2
}
html th.resource,html td.resource{
    display:none
}
.schedule-wrapper{
    margin:auto;
    max-width:1400px;
    padding:0 20px;
    position:relative
}
.page-id-4541 .post-content.container{
    max-width:100%!important
}
.single-location .bw-widget button.bw-header__account-link,.page-id-4541 .bw-widget button.bw-header__account-link{
    letter-spacing:0;
    font-size:13px;
    text-transform:none;
    color:#f50f0f
}
.single-location .bw-widget--large .bw-header__title,.page-id-4541 .bw-widget--large .bw-header__title{
    font-size:26px;
    letter-spacing:.3px;
    font-family:playfair display!important;
    text-transform:none;
    font-style:italic;
    color:#000;
    font-weight:700
}
.single-location .bw-widget--large .bw-widget__date,.page-id-4541 .bw-widget--large .bw-widget__date{
    font-size:13px;
    line-height:18px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1.5px;
    z-index:2;
    font-family:montserrat!important
}
.single-location .bw-widget--large .bw-session__name,.single-location .bw-widget--large .bw-session__staff,.page-id-4541 .bw-widget--large .bw-session__name,.page-id-4541 .bw-widget--large .bw-session__staff{
    font-size:16px;
    line-height:24px;
    margin-right:32px;
    font-family:montserrat!important;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1.5px;
    font-size:15px
}
.single-location .bw-widget--large .bw-session__meta .bw-session__availability,.page-id-4541 .bw-widget--large .bw-session__meta .bw-session__availability{
    display:none
}
.single-location #bw-widget__schedules-90545609935 .bw-embellished.bw-embellished--solid .bw-widget__cta:not(:hover),.single-location #bw-widget__schedules-90545609935 .bw-widget.bw-embellished--solid .bw-widget__cta:hover,.page-id-4541 #bw-widget__schedules-90545609935 .bw-embellished.bw-embellished--solid .bw-widget__cta:not(:hover),.page-id-4541 #bw-widget__schedules-90545609935 .bw-widget.bw-embellished--solid .bw-widget__cta:hover{
    background-color:#ec1c2d;
    border-color:#ec1c2d;
    font-family:montserrat!important;
    text-transform:uppercase;
    font-size:13px;
    letter-spacing:1px;
    font-weight:700;
    padding:8px 24px
}
.single-location .is-active.semantic-content,.page-id-4541 .is-active.semantic-content{
    background:#000;
    background:rgba(0,0,0,.75)
}
.single-location #bw-widget__schedules-90545609935 .bw-widget.bw-embellished--solid .bw-widget__cta:hover,.page-id-4541 #bw-widget__schedules-90545609935 .bw-widget.bw-embellished--solid .bw-widget__cta:hover{
    background-color:#5bc5c5;
    border-color:#5bc5c5
}
.single-location .bw-widget--large .bw-session__staff,.page-id-4541 .bw-widget--large .bw-session__staff{
    color:#666;
    font-size:14px
}
.single-location .bw-session__time .hc_time,.page-id-4541 .bw-session__time .hc_time{
    font-size:15px
}
.single-location .bw-widget--large .bw-session__detail-link span,.page-id-4541 .bw-widget--large .bw-session__detail-link span{
    font-size:14px;
    line-height:22px;
    text-transform:none
}
.single-location .bw-widget--large.bw-widget--spacious .bw-session,.page-id-4541 .bw-widget--large.bw-widget--spacious .bw-session{
    padding:26px 32px 22px
}
.single-location .bw-widget--large .bw-filters__checkboxes,.page-id-4541 .bw-widget--large .bw-filters__checkboxes{
    margin:32px 32px 32px 0
}
.single-location .bw-fullcal__input,.page-id-4541 .bw-fullcal__input{
    padding:15px!important;
    border:1px solid #e6e6e6!important;
    background:#fff
}
.single-location .bw-widget--large .bw-checkbox__label,.page-id-4541 .bw-widget--large .bw-checkbox__label{
    font-size:14px;
    line-height:24px
}
.single-location .bw-widget--large .bw-filters__checkboxes,.page-id-4541 .bw-widget--large .bw-filters__checkboxes{
    text-align:left
}
.single-location .bw-widget--large .bw-checkbox,.page-id-4541 .bw-widget--large .bw-checkbox{
    margin-left:4px
}
.bw-header__filter-link-text{
    font-family:montserrat!important;
    letter-spacing:1.5px;
    font-weight:700;
    font-size:14px;
    color:#333
}
html #content div.healcode table.schedule tr th,html #content div.healcode table.enrollments tr th,html #content div.healcode table.healcode-appointments tr th,html #content div.healcode ol.enrollment_list li.cancelled div tr th{
    padding:15px;
    border-top:1px solid #e6e6e6!important;
    border-bottom:1px solid #e6e6e6!important;
    background:#f7f7f7;
    color:#000;
    font-size:11px;
    line-height:18px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1.5px;
    z-index:2;
    font-family:montserrat
}
html div.healcode table.schedule tr td{
    padding:15px;
    background:#fff;
    font-family:montserrat;
    text-transform:uppercase;
    letter-spacing:0
}
.single-location #content .hc_header_time span,#content .healcode-title-text,.page-id-4541 .hc_header_time span,.page-id-4541 .healcode-title-text{
    letter-spacing:-1px;
    font-size:24px;
    letter-spacing:.5px;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    color:#000
}
html div.healcode table.schedule tr.even{
    background:#fff
}
html #content div.healcode table.schedule tr.odd td{
    background:#fff;
    border-top:1px solid #e6e6e6
}
html .hc_class_availability{
    display:none
}
html div.healcode.schedule .filters .filter_days{
    border:0
}
html div.healcode .header .date_links .week_links{
    border:0
}
html div.healcode .filters .checkboxes input{
    margin:0 .25em 0 .5em;
    border:1px solid #e6e6e6!important;
    background:#fff
}
html div.healcode .filters .checkboxes input[type=checkbox]:checked{
    background:#e6e6e6
}
html div.healcode.schedule h1{
    color:#2d1f1f!important;
    border:0;
    font-size:22px;
    letter-spacing:1.5px;
    font-family:montserrat
}
html .schedule div.healcode .header select{
    width:49.3%;
    margin:0 .5% .5% 0;
    font-family:montserrat;
    padding:12px;
    font-size:14px;
    letter-spacing:-.5px;
    color:#333
}
html .schedule div.healcode .header select.trainer{
    margin-right:0
}
html div.healcode.schedule{
    padding:40px;
    background:#fff;
    border-radius:0
}
html div.healcode label{
    display:inline;
    color:#333;
    font-family:montserrat
}
html div.healcode a.hc-button{
    font-size:10px
}
html div.healcode .week_links a{
    background:#61c8c8!important;
    height:37px;
    padding:12px 2px;
    font-family:montserrat;
    letter-spacing:1px;
    font-size:10px;
    border-radius:0!important
}
div.healcode table.schedule tr.odd td,div.healcode table.enrollments tr.odd td,div.healcode table.healcode-appointments tr.odd td,div.healcode ol.enrollment_list li.cancelled div tr.odd td{
    background-color:#fff
}
.location-section.schedule .section-title h2{
    color:#000;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    font-size:40px;
    margin-bottom:5px;
    line-height:44px;
    letter-spacing:1px
}
.location-section.schedule .section-title p{
    margin-bottom:50px;
    font-family:montserrat;
    text-transform:uppercase;
    color:#777;
    font-size:18px;
    letter-spacing:1.5px;
    text-align:center;
    font-weight:700
}
.single-location #pricing{
    background-color:#57d5d5;
    padding:90px 0
}
.location-section.pricing .section-title h2{
    color:#fff;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    font-size:36px;
    margin-bottom:60px;
    line-height:42px;
    letter-spacing:1px
}
.single-location .pricing{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    justify-content:center;
    -webkit-justify-content:center;
    width:100%;
    margin:0 auto;
    max-width:100%;
    padding:0 5px
}
.gallery .carousel-holder{
    padding:40px 10px 180px;
    position:relative;
    max-width:88%;
    margin:auto
}
.gallery .item-holder{
    position:relative
}
.gallery .owl-nav .owl-prev,.gallery .owl-nav .owl-next{
    margin:0 20px
}
.gallery .owl-nav .owl-next:before,.gallery .owl-nav .owl-prev:before{
    display:none
}
.owl-item img{
    filter:grayscale(100%);
    -webkit-filter:graeyscale(100%);
    -moz-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    transition:all 1s linear;
    -webkit-transition:all 1s linear;
    -moz-transiton:all 1s linear;
    -o-transition:all 1s linear;
    opacity:.4
}
.owl-item.active.center img{
    filter:grayscale(0);
    -webkit-filter:graeyscale(0);
    -moz-filter:grayscale(0);
    -o-filter:grayscale(0);
    opacity:1
}
.single-location .owl-controls{
    position:absolute;
    top:-70px;
    width:100%
}
.owl-carousel .owl-item img{
    max-height:800px
}
.owl-dot span{
    background:#444!important;
    border:0
}
.owl-dot.active span{
    background:#5bc5c5!important
}
.owl-dot.active span{
    background:#000
}
.owl-nav{
    display:none
}
.owl-dots{
    text-align:center;
    display:block;
    position:absolute;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    z-index:99;
    width:100%
}
.owl-controls{
    position:relative
}
.single-location .gallery.location-section{
    background:#000;
    padding-bottom:0;
    padding-top:130px
}
.leader-item{
    z-index:99
}
.location-section.leaders-wrap{
    padding-bottom:0;
    background:#fff
}
.leaders-wrap .section-title h2{
    color:#000;
    margin-bottom:60px;
    letter-spacing:0
}
.single-location .leader-item:nth-child(1),.single-location .leader-item:nth-child(2),.single-location .leader-item:nth-child(2){
    border-top:1px solid #eee
}
.location-contact.location-section{
    padding:0
}
.single-location .contact-column{
    width:50%;
    display:block;
    float:left;
    margin:0;
    z-index:99;
    min-height:50vh;
    background:#fff
}
.contact-column.right-column .location-column-inner{
    max-width:480px;
    margin:20px 0 0 40px;
    padding:40px 30px 10px
}
.contact-column.right-column .app-buttons,.contact-column.right-column .social{
    margin:20px 0 0 70px;
    padding:30px 0;
    max-width:450px
}
.contact-column.right-column .app-buttons{
    border-top:1px solid #e6e6e6
}
.contact-column.right-column .social{
    margin:20px 0 0 80px
}
.contact-column.right-column .app-buttons p{
    font-size:16px;
    color:#585858;
    font-weight:400;
    line-height:28px
}
.single-location .acf-map,.single-location .acf-map.location{
    border:0
}
.location-section.gallery .section-title h2{
    color:#fff;
    font-family:playfair display;
    text-transform:none;
    font-style:italic;
    font-size:36px;
    margin-bottom:50px;
    line-height:42px;
    letter-spacing:1px
}
.location-hours{
    margin-top:30px;
    display:none
}
.day-hours{
    display:block
}
.day-hours .day,.day-hours .hours{
    display:inline-block;
    margin:0 15px 0 0
}
.single-location #giftcard-register{
    margin-right:0!important;
    margin-left:0!important;
    overflow-y:hidden!important
}
@media only screen and (max-width:1310px){
    .single-location.postid-3768 .featured-full-width{
        height:85vh
    }
    .single-location #content{
        padding-top:86px
    }
}
@media only screen and (max-width:1260px){
    #side-menu .menu-holder a{
        letter-spacing:1px;
        font-size:14px;
        padding:30px 10px
    }
}
@media only screen and (max-width:1239px){
    .postid-3768 .schedule-wrapper .w-custom-heading.inside-schedule{
        top:130px
    }
    .schedule-wrapper .w-custom-heading.inside-schedule-left{
        top:136px
    }
}
@media only screen and (max-width:1150px){
    .single-location .contact-column{
        width:100%;
        float:none;
        height:auto!important
    }
    .single-location .contact-column.right-column{
        padding-bottom:50px
    }
    .acf-map.location{
        height:400px!important
    }
}
@media only screen and (max-width:1024px){
    .single-location .social ul.social-icons{
        margin:0 0 30px!important
    }
}
@media only screen and (max-width:1060px){
    .single-location .schedule-wrapper .w-custom-heading.inside-schedule{
        position:absolute;
        z-index:2;
        right:auto;
        top:75px;
        text-align:center;
        width:100%;
        left:0
    }
    .single-location .schedule-wrapper .w-custom-heading.inside-schedule-left{
        top:108px;
        left:0;
        display:block;
        padding:0 15px;
        width:100%
    }
    .single-location .schedule-wrapper .w-custom-heading.inside-schedule-left p{
        text-align:center
    }
    .single-location .schedule-wrapper .section-title{
        margin-bottom:120px
    }
    .schedule-wrapper .w-custom-heading.inside-schedule p{
        text-align:center
    }
    .schedule-wrapper .vacation h2{
        font-size:20px!important;
        line-height:26px!important
    }
}
@media only screen and (max-width:991px){
    .single-location .main.col-9{
        padding-top:0!important;
        padding-bottom:0!important
    }
    .single-location .acf-map.location{
        overflow:visible!important
    }
}
@media only screen and (max-width:900px){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
    #side-menu .menu-holder a{
        letter-spacing:-.5px;
        font-size:16px;
        padding:30px 10px;
        text-transform:none
    }
    .single-location .featured-full-width{
        position:relative;
        min-height:100vh;
        height:auto
    }
    .single-location .title{
        font-size:46px;
        line-height:52px
    }
    .single-location .title-container-wrap{
        top:45%;
        left:8%
    }
}
@media only screen and (max-width:767px){
    .single-location .gallery.location-section{
        padding-top:40px
    }
    #side-menu{
        padding:0
    }
    .single-location .gallery .carousel-holder{
        padding:40px 10px 80px
    }
    .single-location .contact-column{
        width:100%;
        float:none;
        height:auto!important;
        min-height:initial;
        clear:both
    }
    .single-location .app-buttons h2{
        font-size:20px!important;
        line-height:28px!important
    }
    .single-location .contact-column.right-column{
        padding-bottom:20px
    }
    .single-location #pricing{
        padding:40px 0
    }
    .single-location .location-section.pricing .section-title h2{
        margin-bottom:0
    }
    .single-location th.mbo_class,.single-location th.trainer,.single-location th.resource{
        display:none
    }
    html div.healcode table.schedule tr td{
        padding:15px;
        background:#fff;
        font-family:montserrat;
        text-transform:uppercase;
        letter-spacing:0;
        display:block
    }
    html .single-location #content div.healcode table.schedule tr td{
        border:0!important
    }
    html .single-location #content div.healcode table.schedule tr{
        border-bottom:1px solid #e6e6e6!important
    }
    html .single-location #content div.healcode table.schedule tr td.resource{
        display:none
    }
    .single-location #content .hc_header_time span{
        font-size:18px!important
    }
    .location-section{
        padding:60px 0
    }
    #side-menu .menu-holder a{
        font-size:13px
    }
    #side-menu .menu-holder{
        width:auto
    }
    html .schedule div.healcode .header select{
        width:99.3%
    }
    #content div.healcode.schedule h1{
        width:100%
    }
    .contact-column.right-column .location-column-inner{
        max-width:300px;
        margin:20px 0 0 10px
    }
    .single-location .acf-map.location{
        overflow:hidden!important
    }
    .contact-column.right-column .app-buttons,.contact-column.right-column .social{
        margin:20px 0 0 40px;
        padding:30px 0 0;
        max-width:290px
    }
    .schedule-wrapper{
        padding:0
    }
    .top-header-buttons.new{
        top:10px
    }
    #header.w-fixed #mega-menu-wrap-primary{
        top:0
    }
    #side-menu .menu-holder a{
        padding:15px 13px
    }
    .single-location.postid-3769 .title{
        font-size:36px;
        line-height:38px;
        text-align:left;
        margin-left:90px;
        margin-top:0
    }
}
@media only screen and (max-width:640px){
    .single-location .featured-full-width{
        height:60vh;
        min-height:85vh
    }
    .single-location .title-container-wrap{
        top:34%;
        left:0
    }
    .single-location .title-container-wrap .container{
        width:350px;
        margin:auto;
        position:relative
    }
    .single-location .comingsoon{
        width:120px;
        top:-82px;
        left:-5px
    }
    .single-location .title{
        font-size:36px;
        line-height:38px;
        text-align:center
    }
    .single-location .title-container-wrap h1 span{
        font-size:26px;
        line-height:34px
    }
    .location-section{
        padding:40px 0
    }
    .about-content{
        padding:15px
    }
    .about-content p{
        column-count:1;
        -webkit-column-count:1;
        -moz-column-count:1;
        -ms-column-colunt:1;
        -o-column-count:1
    }
    .gallery .owl-nav .owl-prev,.gallery .owl-nav .owl-next{
        margin:7px 10px
    }
}
@media only screen and (max-width:600px){
    .single-location .book-button{
        right:auto;
        top:auto;
        width:auto;
        background:0 0;
        border:3px solid #5bc5c5;
        padding:16px 30px;
        height:auto;
        width:auto
    }
    .book-button.w-button:hover{
        background:#5bc5c5
    }
    .single-location .schedule-wrapper .w-custom-heading.inside-schedule-left{
        top:128px
    }
    .single-location .schedule-wrapper .section-title{
        margin-bottom:140px
    }
}
@media only screen and (max-width:480px){
    .single-location.postid-3769 .title{
        font-size:36px;
        line-height:38px;
        text-align:left;
        margin-left:90px;
        margin-top:0
    }
    .single-location .schedule-button,.single-location .leaders-button{
        display:block;
        margin-bottom:15px
    }
}
@media only screen and (min-device-width:320px) and (max-device-width:568px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
}
@media only screen and (min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
}
@media only screen and (min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) and (orientation:landscape){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
}
@media only screen and (min-device-width:375px) and (max-device-width:812px) and (-webkit-min-device-pixel-ratio:3) and (orientation:landscape){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
}
@media screen and (device-width:360px) and (device-height:640px) and (-webkit-device-pixel-ratio:4) and (orientation:landscape){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
}
@media screen and (device-width:320px) and (device-height:640px) and (-webkit-device-pixel-ratio:3) and (orientation:landscape){
    #side-menu .menu-holder{
        float:left;
        width:25%;
        display:inline
    }
}
